.dashboard-bg {
  width: 100vw;
  height: 100vh;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.1);
  position: fixed; }
  .dashboard-bg__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.dashboard {
  width: 90rem;
  height: 100vh;
  color: #edf2f5;
  background-image: linear-gradient(to right bottom, #7775a5, #3c3b66);
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  z-index: 5; }
  @media (max-width: 75em) {
    .dashboard {
      height: 85vh;
      margin-top: 7rem; } }
  @media (max-width: 56.25em) {
    .dashboard {
      width: 80rem;
      height: 65vh;
      margin-top: 20rem; } }
  @media (max-width: 46em) {
    .dashboard {
      width: 100vw;
      height: 100%;
      margin-top: 0; } }
  .dashboard__header-bar {
    height: 5rem;
    position: relative; }
  .dashboard__title {
    width: 60%;
    position: absolute;
    top: 2.2rem;
    left: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    z-index: 10; }
  .dashboard__img {
    width: 100%;
    height: 64%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    @media (max-width: 46em) {
      .dashboard__img {
        height: 55%; } }
    @media (max-width: 37.5em) {
      .dashboard__img {
        height: 60%; } }
    .dashboard__img--layer {
      background-color: rgba(30, 30, 30, 0.3);
      width: 100%;
      height: 100%; }
  .dashboard__rating {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3rem; }
  .dashboard__user-rating {
    color: #faca31;
    margin-left: 1rem; }
  .dashboard__body {
    padding: 1rem 3rem;
    font-size: 1.2rem; }
  .dashboard__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem; }
    @media (max-width: 46em) {
      .dashboard__group {
        margin: 1rem 1.5rem; } }
    @media (max-width: 37.5em) {
      .dashboard__group {
        flex-wrap: wrap; } }
  .dashboard__overview {
    font-size: 1.1rem; }
  .dashboard__btn-group {
    display: flex; }
    @media (max-width: 37.5em) {
      .dashboard__btn-group {
        margin: 1.3rem 0;
        margin-left: auto; } }
  .dashboard__btn {
    display: flex;
    align-items: center;
    border-radius: 3px;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #242126;
    background-color: #faca31;
    transition: all 300ms; }
    @media (max-width: 37.5em) {
      .dashboard__btn {
        padding: 0.4rem 1.6rem; } }
    .dashboard__btn--home {
      display: flex;
      align-items: center;
      padding: 0.2rem 1rem;
      margin-right: 1rem;
      cursor: pointer; }
    .dashboard__btn:hover {
      background-color: #f5bc00; }
  .dashboard__icon {
    font-size: 1.8rem; }
  .dashboard__tagline {
    position: absolute;
    bottom: -0.8rem;
    left: 3rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-style: italic;
    color: #242126;
    background-color: #faca31;
    padding: 0.5rem 1.8rem;
    border-radius: 2px;
    box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.3); }
  .dashboard__casting {
    display: inline-block;
    color: #edf2f5;
    text-decoration: none;
    transition: all 300ms; }
    .dashboard__casting:hover {
      color: #faca31;
      text-decoration: underline; }
