// to calculate 'rem' unit> font-size: 10px;
html {
    font-size: 62.5%; 
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}


// customize chrome scrollbar
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: rgba($color-link, .3);
}