@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

body {
    font-family: 'Montserrat';
    line-height: 1.7;
    background-color: $color-bg !important;
    color: $color-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1.5rem;
    font-weight: 700;
}

a:hover {
    text-decoration: none
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
