// Movies Container
.movies-container {
    display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 3rem;
	background: $color-light;
}


.movies {
    font-size: 1.2rem;
    width: 25%;
    margin-bottom: 2.5rem;

    &__link {
        &,
        &:link,
        &:visited {
            position: relative;
            cursor: pointer;
            display: inline-block;
            text-decoration: none;
            color: #737783;
            margin: 0 1.9rem;
        }

        &:hover,
        &:active {
            text-decoration: none;
            color: #737783;
        }

        &:hover  img{
            box-shadow: 0 0 2rem $color-bg;
            opacity: 0.7;
        }
    }
    &__img {
        width: 100%;
        height: 30rem;
        border-radius: 0.8rem;
        transition: all .3s linear;
    }
    &__title {
        color: $color-white;
        font-size: 1.3rem;
        font-weight: 700;
        margin: .7rem 0;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        margin-top: 2px;
        color: $color-link;
    }
    &__ratings {
        position: absolute;
        right: .7rem;
        top: -.7rem;
        background: yellow;
        display: inline-block;
        padding: 0px .5rem;

        i {
            display: inline-block;
            margin-right: 2px;
        }
    }

}